#homeIntro {
  background-image: url("../img/活动部.png");
}
#ActIntro {
  background-image: url("../img/部门简介.jpeg");
}
#LongIntro {
  background-image: url("../img/长期活动.jpg");
}
#ShortIntro {
  background-image: url("../img/短期活动.jpg");
}
#MenuIntro {
  background-image: url("../img/背景.jpg");
  background-size: cover;
}
#MenuIntro1 {
  background-image: url("../img/背景.jpg");
  background-size: cover;
}
.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.parallax1 {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.65);
}

.home-intro-content {
  padding: 11em 0;
  text-align: center;
}
.home-intro-content h2 {
  font-size: 36px;
  font-weight: 800;
  color: white;
}
.home-intro-content p {
  margin: 55px 0;
  font-size: 18px;
  line-height: 32px;
}
.home-intro-content .large-button:hover {
  opacity: 0.5;
}

.menu{
  opacity: 1;
  width:100%;
  top:0;
  left:0;
  background-color:white
}
.menu-act1{
  left:10px;
  width:40%;

}
.menu-act2{
width:40%;
}
.menu-act3{
}
.inner_circle{
border:1px solid #fff;
border-radius:500px;
width: 40px;
height: 40px;
}
/*------------------------------------------------------
	General Styling
--------------------------------------------------------*/
.dark-content {
  background-color: #31373a;
  width: 100%;
  padding: 70px 0 80px 0;
  text-align: center;
  font-color:white
}
.dark-content .section-header .section-title {
  color: black;
}
.dark-content .section-header .section-desc {
  font-size: 30px;
  font-weight: 600;
  font-color:black
}
/*------------------------------------------------------
	Our Team Styling
--------------------------------------------------------*/
.member-role {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  padding: 5px 10px;
  font-size: 14px;
}

.member-name {
  font-size: 22px;
  font-weight: 500;
  color:black;
  margin-top: 25px;
  display: block;
  text-align: center;
}

.thumb-post {
  height: auto;
}
.thumb-post img {
  width: 100%;
  height: auto;
}
/*------------------------------------------------------
部门简介部分
--------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

.slide-container {
  margin: auto;
  width: 100%;
  text-align: center;
  height:500px;
}

.wrapper1 {
  padding-top: 15px;
  padding-bottom: 40px;
}
.wrapper1:focus {
  outline: 0;
}

.clash-card {
  background: white;
  width: 400px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
}

.clash-card__image {
  position: relative;
  height: 266px;
  margin-bottom: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.clash-card__image--barbarian {
  background: url("img/arxher-bg.jpg");
}
.clash-card__image--barbarian img {
  width: 400px;
  position: relative;
  top: -24px;
  left: 0px;
   border-top-left-radius: 16px;
    border-top-right-radius: 14px;
}

.clash-card__image--archer {
  background: url("img/archer-bg.jpg");
}
.clash-card__image--archer img {
  width: 400px;
  position: absolute;
  top: -34px;
  left: -37px;
}

.clash-card__image--giant {
  background: url("img/giant-bg.jpg");
}
.clash-card__image--giant img {
  width: 340px;
  position: absolute;
  top: -30px;
  left: -25px;
}

.clash-card__image--goblin {
  background: url("img/goblin-bg.jpg");
}
.clash-card__image--goblin img {
  width: 370px;
  position: absolute;
  top: -21px;
  left: -37px;
}

.clash-card__image--wizard {
  background: url("img/wizard-bg.jpg");
}
.clash-card__image--wizard img {
  width: 345px;
  position: absolute;
  top: -28px;
  left: -10px;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: #EC9B3B;
}

.clash-card__level--archer {
  color: #EE5487;
}

.clash-card__level--giant {
  color: #F6901A;
}

.clash-card__level--goblin {
  color: #82BB30;
}

.clash-card__level--wizard {
  color: #4FACFF;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
  background: #EC9B3B;
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #BD7C2F;
}

.clash-card__unit-stats--archer {
  background: #EE5487;
}
.clash-card__unit-stats--archer .one-third {
  border-right: 1px solid #D04976;
}

.clash-card__unit-stats--giant {
  background: #F6901A;
}
.clash-card__unit-stats--giant .one-third {
  border-right: 1px solid #de7b09;
}

.clash-card__unit-stats--goblin {
  background: #82BB30;
}
.clash-card__unit-stats--goblin .one-third {
  border-right: 1px solid #71a32a;
}

.clash-card__unit-stats--wizard {
  background: #4FACFF;
}
.clash-card__unit-stats--wizard .one-third {
  border-right: 1px solid #309eff;
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.clash-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.clash-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 0px;
  z-index: -1;
}

.slick-next {
  right: 0px;
  z-index: -1;
}
