#homeIntro {
  background-image: url("../img/活动部.png");
}
#ActIntro {
  background-image: url("../img/部门简介.jpeg");
}
#LongIntro {
  background-image: url("../img/长期活动.jpg");
}
#ShortIntro {
  background-image: url("../img/短期活动.jpg");
}
#long {
  background-image: url("../img/背景2.png");
  background-size: cover;
}
#Act {
  background-image: url("../img/背景3.png");
  background-size: cover;
}
#short{
  background-image: url("../img/背景2.png");
  background-size: cover;
}
#ProjectIntro {
  background-image: url("../img/error_page_bg.jpg");
}
#HRIntro {
  background-image: url("../img/人资部.jpg");
}
#MediaIntro {
  background-image: url("../img/全媒体.jpg");
}
#PublicRelationsIntro {
  background-image: url("../img/公关部.jpg");
}
.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.parallax1 {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  color:white;
  top:10px
}

.home-intro-content {
  padding: 11em 0;
  text-align: center;
}
.home-intro-content h2 {
  font-size: 36px;
  font-weight: 800;
  color: white;
}
.home-intro-content p {
  margin: 55px 0;
  font-size: 18px;
  line-height: 32px;
}
.home-intro-content .large-button:hover {
  opacity: 0.5;
}

.menu{
  opacity: 1;
  width:100%;
  top:0;
  left:0;
  background-color:white
}
.menu-act1{
  left:10px;
  width:40%;

}
.menu-act2{
width:40%;
}
.menu-act3{
}
.inner_circle{
border:1px solid #fff;
border-radius:500px;
width: 40px;
height: 40px;
}
/*------------------------------------------------------
	General Styling
--------------------------------------------------------*/
.dark-content {
  background-color: #31373a;
  width: 100%;
  padding: 70px 0 80px 0;
  text-align: center;
  font-color:white
}
.dark-content .section-header .section-title {
  color: black;
}
.dark-content .section-header .section-desc {
  font-size: 30px;
  font-weight: 600;
  font-color:black
}
/*------------------------------------------------------
	Our Team Styling
--------------------------------------------------------*/
.member-role {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  padding: 5px 10px;
  font-size: 14px;
}

.member-name {
  font-size: 22px;
  font-weight: 500;
  color:black;
  margin-top: 25px;
  display: block;
  text-align: center;
}

.thumb-post {
  height: auto;
}
.thumb-post img {
  height: 200px;
}
.thumb-post1 {
  height: auto;
}
.thumb-post1 img {
  height: 250px;
}
.thumb-post2 {
  width:100%
}
.thumb-post2 post {
  left:33%
}
.thumb-post2 img {
  height: 250px;
}
/*------------------------------------------------------
部门简介部分
--------------------------------------------------------*/
