@font-face{
  font-family: STXinwei;
  src: url('../fonts/STXINWEI.TTF')
}

@font-face{
  font-family: STXihei;
  src: url('../fonts/STXIHEI.TTF')
}

@font-face{
  font-family: Bradley Hand ITC;
  src: url('../fonts/BRADHITC.TTF')
}